.idea
gameplay/__pycache*
gameplay/migrations
node_modules
rest_framework
staticfiles*
admin
styles.92d7cb45b139*
static
css
scripts.js
scripts.js.gz
scripts.d9335e885ded.js
scripts.d9335e885ded.js.gz
/jenv/Lib/site-packages/whitenoise/
/jenv/Lib/site-packages/sqlparse/
/jenv/Lib/site-packages/pytz/
