<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Hangman</title>
</head>
<body>

    <!-- Top bar portion of website -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="navbar-brand">Hangman</div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">See Streak Leaders</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Title and body of website -->
    <div>
        <div class="row">
            <div class="col-lg-7">
                <h1>Hangman</h1>

                {% if game.category  %}
                    <input type="hidden" name="game_id" value="{{ game.game_id }}"/>

                    <div class="category-box" id="category">

                        {% if game.category == 'Animals' %}

                            {% if game.status == 'win' %}

                                Good job! <br>
                                <a class="btn btn-danger" href="/">Play Again?</a>

                            {%  elif game.status == 'lose' %}

                                {{ game.answer }} <br>
                                <a class="btn btn-danger" href="/">Play Again?</a>

                            {%  else %}

                                Animals <br>
                                <a class="btn btn-danger" href="/">Start Over?</a>

                            {% endif %}


                        {% elif game.category == 'Famous' %}

                            {% if game.status == 'win' %}

                                Good job! <br>
                                <a class="btn btn-danger" href="/">Play Again?</a>

                            {%  elif game.status == 'lose' %}

                                {{ game.answer }} <br>
                                <a class="btn btn-danger" href="/">Play Again?</a>

                            {%  else %}

                                Famous People <br>
                                <a class="btn btn-danger" href="/">Start Over?</a>

                            {% endif %}

                        {% elif game.category == 'Cities' %}

                            {% if game.status == 'win' %}

                                Good job! <br>
                                <a class="btn btn-danger" href="/">Play Again?</a>

                            {%  elif game.status == 'lose' %}

                                {{ game.answer }} <br>
                                <a class="btn btn-danger" href="/">Play Again?</a>

                            {%  else %}

                                Cities <br>
                                <a class="btn btn-danger" href="/">Start Over?</a>

                            {% endif %}

                        {% endif %}

                    </div>

                {% else %}

                    <div class="category-box" id="category">
                        <a class="btn btn-outline-primary" {# id="famous_people_btn" #} href="famous">Famous People</a>
                        <a class="btn btn-outline-primary" {# id="cities_btn" #} href="cities">Cities</a>
                        <a class="btn btn-outline-primary" {# id="animals_btn" #} href="animals"> Animals</a>
                        <p class="category">Choose a category</p>
                    </div>

                {% endif %}

                <div class="keyboard">
                    <form method="post"> {% csrf_token %}
                        <input type="hidden" name="game_id" value="{{ game.game_id }}"/>
                        <div>
                            <button class="btn btn-primary" name="letter" value="q">q</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="w">w</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="e">e</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="r">r</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="t">t</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="y">y</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="u">u</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="i">i</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="o">o</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="p">p</button>
                        </div>
                        <br>
                        <div class="keyboard-row2">
                            <button class="btn btn-primary" name="letter" type="submit" value="a">a</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="s">s</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="d">d</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="f">f</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="g">g</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="h">h</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="j">j</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="k">k</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="l">l</button>
                        </div>
                        <br>
                        <div class="keyboard-row3">
                            <button class="btn btn-primary" name="letter" type="submit" value="z">z</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="x">x</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="c">c</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="v">v</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="b">b</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="n">n</button>
                            <button class="btn btn-primary" name="letter" type="submit" value="m">m</button>
                        </div>
                        <br>
                    </form>
                </div>

                <h2>
                    {{ game.display1 }} &nbsp; {{ game.display2 }}
                </h2>

            </div>
            <div class="col-lg-3">
                {% if game.hangman_body  %} 
                    
                    <img src="{{ game.hangman_body }}">
                    
                {% else %}
                    
                    <img src="../static/images/hangman1.png">
                    
                {% endif %}
            </div>
        </div>
    </div>

{#    <script src="../static/scripts.js"></script>#}
</body>
</html>