<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Hangman</title>
</head>
<body>

    <!-- Top bar portion of website -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="navbar-brand">Hangman</div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">See Streak Leaders</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Title and body of website -->
    <div>
        <div class="row">
            <div class="col-lg-7">
                <h1>Hangman</h1>

                {% if game.category  %}
                    <input type="hidden" name="game_id" value="{{ game.game_id }}"/>

                    <div class="category-box" id="category">

                        {% if game.category == 'Animals' %}

                            {% if game.status == 'win' %}

                                Good job! <br>
                                <a class="btn btn-danger" href="/">Play Again?</a>

                            {%  elif game.status == 'lose' %}

                                {{ game.answer }} <br>
                                <a class="btn btn-danger" href="/">Play Again?</a>

                            {%  else %}

                                Animals <br>
                                <a class="btn btn-danger" href="/">Start Over?</a>

                            {% endif %}


                        {% elif game.category == 'Famous' %}

                            {% if game.status == 'win' %}

                                Good job! <br>
                                <a class="btn btn-danger" href="/">Play Again?</a>

                            {%  elif game.status == 'lose' %}

                                {{ game.answer }} <br>
                                <a class="btn btn-danger" href="/">Play Again?</a>

                            {%  else %}

                                Famous People <br>
                                <a class="btn btn-danger" href="/">Start Over?</a>

                            {% endif %}

                        {% elif game.category == 'Cities' %}

                            {% if game.status == 'win' %}

                                Good job! <br>
                                <a class="btn btn-danger" href="/">Play Again?</a>

                            {%  elif game.status == 'lose' %}

                                {{ game.answer }} <br>
                                <a class="btn btn-danger" href="/">Play Again?</a>

                            {%  else %}

                                Cities <br>
                                <a class="btn btn-danger" href="/">Start Over?</a>

                            {% endif %}

                        {% endif %}

                    </div>

                {% else %}

                    <div class="category-box" id="category">
                        <a class="btn btn-outline-primary" {# id="famous_people_btn" #} href="famous">Famous People</a>
                        <a class="btn btn-outline-primary" {# id="cities_btn" #} href="cities">Cities</a>
                        <a class="btn btn-outline-primary" {# id="animals_btn" #} href="animals"> Animals</a>
                        <p class="category">Choose a category</p>
                    </div>

                {% endif %}

                <div class="keyboard">
                    <form method="post"> {% csrf_token %}
                        <input type="hidden" name="game_id" value="{{ game.game_id }}"/>
                        <div>
                            {% if "q" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="q">q</button>
                            {% elif "q" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="q">q</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">q</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="q">q</button>
                            {% endif %}

                            {% if "w" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="w">w</button>
                            {% elif "w" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="w">w</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">w</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="w">w</button>
                            {% endif %}

                            {% if "e" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="e">e</button>
                            {% elif "e" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="e">e</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">e</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="e">e</button>
                            {% endif %}

                            {% if "r" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="r">r</button>
                            {% elif "r" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="r">r</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">r</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="r">r</button>
                            {% endif %}

                            {% if "t" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="t">t</button>
                            {% elif "t" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="t">t</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">t</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="t">t</button>
                            {% endif %}

                            {% if "y" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="y">y</button>
                            {% elif "y" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="y">y</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">y</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="y">y</button>
                            {% endif %}

                            {% if "u" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="u">u</button>
                            {% elif "u" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="u">u</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">u</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="u">u</button>
                            {% endif %}

                            {% if "i" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="i">i</button>
                            {% elif "i" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="i">i</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">i</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="i">i</button>
                            {% endif %}

                            {% if "o" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="o">o</button>
                            {% elif "o" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="o">o</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">o</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="o">o</button>
                            {% endif %}

                            {% if "p" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="p">p</button>
                            {% elif "p" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="p">p</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">p</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="p">p</button>
                            {% endif %}>
                        </div>
                        <br>
                        <div class="keyboard-row2">
                            {% if "a" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="a">a</button>
                            {% elif "a" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="a">a</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">a</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="a">a</button>
                            {% endif %}

                            {% if "s" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="s">s</button>
                            {% elif "s" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="s">s</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">s</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="s">s</button>
                            {% endif %}

                            {% if "d" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="d">d</button>
                            {% elif "d" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="d">d</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">d</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="d">d</button>
                            {% endif %}

                            {% if "f" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="f">f</button>
                            {% elif "f" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="f">f</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">f</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="f">f</button>
                            {% endif %}

                            {% if "g" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="g">g</button>
                            {% elif "g" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="g">g</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">g</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="g">g</button>
                            {% endif %}

                            {% if "h" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="h">h</button>
                            {% elif "h" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="h">h</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">h</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="h">h</button>
                            {% endif %}

                            {% if "j" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="j">j</button>
                            {% elif "j" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="j">j</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">j</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="j">j</button>
                            {% endif %}

                            {% if "k" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="k">k</button>
                            {% elif "k" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="k">k</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">k</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="k">k</button>
                            {% endif %}

                            {% if "l" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="l">l</button>
                            {% elif "l" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="l">l</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">l</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="l">l</button>
                            {% endif %}
                        </div>
                        <br>
                        <div class="keyboard-row3">
                            {% if "z" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="z">z</button>
                            {% elif "z" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="z">z</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">z</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="z">z</button>
                            {% endif %}

                            {% if "x" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="x">x</button>
                            {% elif "x" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="x">x</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">x</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="x">x</button>
                            {% endif %}

                            {% if "c" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="c">c</button>
                            {% elif "c" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="c">c</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">c</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="c">c</button>
                            {% endif %}

                            {% if "v" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="v">v</button>
                            {% elif "v" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="v">v</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">v</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="v">v</button>
                            {% endif %}

                            {% if "b" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="b">b</button>
                            {% elif "b" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="b">b</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">b</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="b">b</button>
                            {% endif %}

                            {% if "n" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="n">n</button>
                            {% elif "n" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="n">n</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">n</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="n">n</button>
                            {% endif %}

                            {% if "m" in game.wrong_guesses %}
                                <button class="btn btn-danger" name="letter" value="m">m</button>
                            {% elif "m" in game.correct_guesses %}
                                <button class="btn btn-success" name="letter" value="m">m</button>
                            {% elif game.status == 'win' or game.status == 'lose' %}
                                <button class="btn btn-primary" name="letter">m</button>
                            {% else %}
                                <button class="btn btn-primary" name="letter" value="m">m</button>
                            {% endif %}
                        </div>
                        <br>
                    </form>
                </div>

                <h2>
                    {{ game.display1 }} &nbsp; {{ game.display2 }}
                </h2>

            </div>
            <div class="col-lg-3">
                {% if game.hangman_body  %} 
                    
                    <img src="{{ game.hangman_body }}">
                    
                {% else %}
                    
                    <img src="../static/images/hangman1.png">
                    
                {% endif %}
            </div>
        </div>
    </div>

{#    <script src="../static/scripts.js"></script>#}
</body>
</html>