<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Hangman</title>
</head>
<body>

    <!-- Top bar portion of website -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="navbar-brand">Hangman</div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">See Streak Leaders</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Title and body of website -->
    <div>
        <div class="row">
            <div class="col-lg-7">
                <h1>Hangman</h1>
                <div class="category-box" id="category">
                    <button class="btn btn-outline-primary" id="famous_people_btn">Famous People</button>
                    <button class="btn btn-outline-primary" id="cities_btn">Cities</button>
                    <button class="btn btn-outline-primary" id="animals_btn">Animals</button>
                    <p class="category">Choose a category</p>
                </div>

                <div class="keyboard">
                    <div>
                        <button class="btn btn-primary" type="submit">q</button>
                        <button class="btn btn-primary" type="submit">w</button>
                        <button class="btn btn-primary" type="submit">e</button>
                        <button class="btn btn-primary" type="submit">r</button>
                        <button class="btn btn-primary" type="submit">t</button>
                        <button class="btn btn-primary" type="submit">y</button>
                        <button class="btn btn-primary" type="submit">u</button>
                        <button class="btn btn-primary" type="submit">i</button>
                        <button class="btn btn-primary" type="submit">o</button>
                        <button class="btn btn-primary" type="submit">p</button>
                    </div>
                    <br>  
                    <div class="keyboard-row2">
                        <button class="btn btn-primary" type="submit">a</button>
                        <button class="btn btn-primary" type="submit">s</button>
                        <button class="btn btn-primary" type="submit">d</button>
                        <button class="btn btn-primary" type="submit">f</button>
                        <button class="btn btn-primary" type="submit">g</button>
                        <button class="btn btn-primary" type="submit">h</button>
                        <button class="btn btn-primary" type="submit">j</button>
                        <button class="btn btn-primary" type="submit">k</button>
                        <button class="btn btn-primary" type="submit">l</button>
                    </div>
                    <br>    
                    <div class="keyboard-row3">
                        <button class="btn btn-primary" type="submit">z</button>
                        <button class="btn btn-primary" type="submit">x</button>
                        <button class="btn btn-primary" type="submit">c</button>
                        <button class="btn btn-primary" type="submit">v</button>
                        <button class="btn btn-primary" type="submit">b</button>
                        <button class="btn btn-primary" type="submit">n</button> 
                        <button class="btn btn-primary" type="submit">m</button>
                    </div>
                    <br>
                </div>
                
            </div>
            <div class="col-lg-3">
                <img src="../static/images/hangman0.1.png">
            </div>
        </div>
    </div>

</body>
</html>